.Sidebar {
  color: white;
  background-color: #151a26;
  height: 100vh;
}
.main {
  background-color: #151a26;
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.2);
}
.header {
  height: 30vh;
  background-color: rgb(187, 141, 10);
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.2);
}
.profile-pic {
  border-radius: 50%;
  background-color: rgba(12, 12, 12, 0.8);
  width: 70px;
  height: 70px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  position: relative;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
}
.name {
  top: 30px;
  position: relative;
}
.email {
  top: 25px;
  position: relative;
}
p.nameTag {
  line-height: 55px;
  font-size: 30px;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 15px;
}
h1.roles {
  position: relative;
  top: 15px;
  font-size: 25px;
  font-family: Geneva, Tahoma, sans-serif;
  font-style: bold;
  margin-bottom: 35px;
}
