* {
  box-sizing: border-box;
}
.App {
  width: 100%;
  overflow-x: hidden;
}

.MainTable {
  margin-top: 7vh;
  margin-right: 2vh;
  margin-left: 1vh;
  background-color: white;
  overflow: scroll;
  height: 300px;
  overflow-x: hidden;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.TableHeader {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 5px;
  margin-bottom: 15px;
}
.fontaweButton {
  margin-left: 15px;
  border: none;
  background: none;
  transform: scale(1.2);
}

.ButtonNavBar {
  width: 100%;
  height: 6vh;
  background-color: rgba(187, 141, 10, 0.8);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  display: flex;
}
.AddButton:hover {
  cursor: pointer;
}
.arrow {
  margin-right: 15px;
}
.AddButton {
  margin-right: 8px;
  width: 15%;
  text-align: center;
  height: 100%;
  box-shadow: 3px 0 3px 0.5px rgba(0, 0, 0, 0.2);
}
.AddButton:hover {
  color: rgb(235, 228, 228);
}
.popup {
  width: 400px;
  height: 125px;
  background-color: #151a26;
  box-shadow: 3px 0 3px 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.wrapButtons {
  margin-top: 50px;
  display: flex;
}
.DeleteButton {
  background-color: #ed5e68;
  font-weight: 400;
  color: white;
  padding: 5px 15px;
  border: none;
  width: 50%;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.CancelButton {
  font-weight: 600;
  width: 50%;
  background-color: #8388a4;
  color: #0a0a0f;
  padding: 5px 15px;
  border: none;
  float: left;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}
.CancelButton:hover {
  transform: scale(1.01);
  background-color: #a2a7c0;
}
.DeleteButton:hover {
  transform: scale(1.008);
  background-color: #f0424e;
}
.ConfirmText {
  font-size: 18px;
  font-family: system-ui;
  padding-top: 15px;
  text-align: center;
  color: #e5e5ec;
}
.fake {
  height: 300px;
  width: 500px;
}
